<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
        <p class="alert-heading"> <%= message %></p>
       
    </div>
      </div>
</div>